REDSIS_SENTINEL_EXPORTER_OPTS='web.listen-address "{{ ansible_default_ipv4.address }}:{{ redis_sentinel_exporter_port }}" sentinel.addr "redis://{{ ansible_default_ipv4.address }}:{{ redis_sentinel_port }}" sentinel.password {{ redis_sentinel_requirepass }}'
