# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for machine metrics, written in Go with pluggable metric collectors.
Documentation=https://github.com/leominov/redis_sentinel_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/redis_sentinel_exporter
User=prometheus
LimitNOFILE=4096
LimitNPROC=4096
ExecStart=/usr/local/bin/redis_sentinel_exporter $REDSIS_SENTINEL_EXPORTER_OPTS
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
